
        @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Palanquin:wght@100;200;300;400;500&display=swap');
        /*font-family: 'Indie Flower', cursive;
          font-family: 'Palanquin', sans-serif;*/
        @import url('https://fonts.googleapis.com/css2?family=Anton&family=Palanquin:wght@100;200;300;400;500&display=swap');
        /*font-family: 'Anton', sans-serif;
          font-family: 'Palanquin', sans-serif;*/
  
* {
    margin: 0;
    padding: 0;
    border: 0;

 }
 :root{
    --corfundo: rgba(255, 235, 205, 0.429);
 }
 
  header{
    font-family: 'Anton', sans-serif;
    color: white;
    background-color: black;
    font-size: 5vw;
    padding-top: 50px;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.164);
    
  }
  h2{
    font-family: 'Franklin Gothic Medium'; 
    font-size: 0.5em; 
    font-weight: lighter;
    padding-bottom: 50px;
  }

  div{
    height: 450px;
    
  }
  p{
    font-family: 'Indie Flower', cursive;
    font-size: 1vw;
    background-color: blueviolet;
    width: 300px;
    height: 400px;
    margin: 15px;
    padding: 5px;
    border-radius: 20px;
    position: absolute;
    
  }
  #p1{
    background-color: transparent;
  }
  #div1{
    
  }
  #div2{
    background-image: url(profle.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.829);
    display: inline-block;
  }
  #p2{
    background-color: rgba(0, 0, 0, 0.349);
    color: white;
  }
  #div3{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.829);
  }
  #p3{
    background-color: transparent;
  }
  #div4{
    background-image: url(wallpaper002.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.829);
  }
  #p4{
    background-color: rgba(0, 0, 0, 0.349);
    color: white;
  }
  footer{
    background-color: black;
    text-align: center;
    color: aliceblue;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.829);
  }